.faqs-first-compontent-row {
    width: 73%;
    margin-inline: auto;
    min-height: 75vh;
}

.tab-container {
    box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.2),
        inset 0 -1px 0 rgba(0, 0, 0, 0.2),
        inset 1px 0 0 rgba(0, 0, 0, 0.2),
        inset -1px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px !important;
}

.tab-container .active{
    background-color: rgba(255, 102, 54, 1) !important;
    border-radius: 0px;
}

.tab-link {
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.tab-link:hover {
    color: unset;
}

.accor-item * {
    color: rgba(78, 85, 102, 1);
    border-radius: 0 !important;
    border-top: unset;
}

.accordion-item:first-of-type {
    border-radius: unset !important;
}

.accordion-button::after {
    color: rgba(29, 32, 38, 1);;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(29, 32, 38, 1);
  color: white !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23787878' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
}

.accordion-button:not(.collapsed)::after {
  color: white !important;
}

.accor-title .accordion-button {
    font-size: 16px;
    font-weight: 500;
    color: rgba(29, 32, 38, 1);
}


.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.question-form-container {
    background-color: rgba(245, 247, 250, 1);
    height: fit-content !important;
}

@media (min-width: 0px) and (max-width: 575px) {
    .tabs-container,.tabs-content, .question-form-container {
        margin-top: 1rem;
    }
}